DISCORD_TOKEN=
CHANNEL_ID=
MESSAGE=Promosi item in-game! Cek toko sekarang!
MIN_DELAY_MINUTES=120
MAX_DELAY_MINUTES=180
RETRY_DELAY_MINUTES=5
MAX_RETRY_DELAY_MINUTES=60
LOGIN_TIMEOUT_SECONDS=30
CLIENT_BUILD_NUMBER=66416